.listado {
    padding: .5rem;
    background: rgba(29, 29, 29, .9);
    border-bottom: solid 1px rgb(37, 37, 37);
}

.listado img {
    max-width: 40px;
}

.listado span {
    font-size: 1rem;
}

.listado .detalle {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.detalle__title {
    font-size: 14px;
    margin: auto auto auto 0;
}

.listado .detalle__btn {
    text-align: end;
    margin: auto .2rem auto .2rem;
}

.detalle__price {
    width: 6rem;
    text-align: end;
    margin: auto 0 auto 1rem;
    font-size: 14px;
}

.cartContainer .totalAmount {
    text-align: end;
    justify-content: end;
    padding-right: 8px;

    font-weight: bold;
    color: rgb(34, 167, 22);
}