.brand__swiper-slide{
  text-align: center;
  margin:auto 0!important
}

.brand__swiper-slide img {
  max-width: 120px;
  max-height: 120px;
  transition: all 0.5s ease-in-out;
  filter: none;
  -webkit-filter: grayscale(50%);
  -moz-filter: grayscale(50%);
  -ms-filter: grayscale(50%);
  -o-filter: grayscale(50%);
  cursor: pointer;
  margin: 2rem 0;
}

.brand__swiper-slide img:hover {
  transform: scale(1.4);
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}