.section2 {
    /* background: rgba(44, 44, 44, 0.7); */
    display: flex;
    align-content: space-around;
    flex-direction: column;
    margin: 3rem auto 5rem; 
}

h2 {
        background: linear-gradient(180deg, rgb(88 88 88 / 5%) 0%, rgb(28 28 28 / 20%) 100%);
        font-family: unset;
        font-size: x-large;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        border-bottom: solid 1px #242424;
        padding: .5rem;
        margin: 0;
}