/* INFORMACIÓN */

.information {
    background: rgba(15, 15, 15, 0.4);
    border-radius: 20px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    border: solid 1px var(--dark);
    padding: 1.5rem;
    margin-top: 2rem;
}


/* CATEGORIAS */


/* Contenedor */

.cat_container {
    display: flex;
    overflow: hidden;
    z-index: 900;
    top: 0;
    position: sticky;
    padding-bottom: 1.2rem;
    margin-bottom: 4rem;
}

.cat_container_home {
    display: flex;
    overflow: hidden;
    z-index: 900;
    position: relative;
    padding-bottom: 1.2rem;
    margin-bottom: 4rem;
    border-top: solid 1px black;
}


/* Div con curva */

.cat_container .cat_radius {
    width: 150%;
    border-radius: 0 0 15% 15%;
    overflow: hidden;
    box-shadow: 0 0 1rem rgb(54 145 58 / 55%), 0 0.5rem 1rem rgb(0 0 0);
    background: rgb(15, 15, 15);
    transition: all .8s ease-in-out;
    height: 40px;
}

.cat_container:hover .cat_radius {
    height: 100px;
}

.cat_container_home .cat_radius {
    width: 150%;
    border-radius: 0 0 15% 15%;
    overflow: hidden;
    box-shadow: 0 0 1rem rgb(54 145 58 / 55%), 0 0.5rem 1rem rgb(0 0 0);
    background: rgb(15, 15, 15);
    transition: all .8s ease-in-out;
    height: 140px;
}


/* Botones de Categorias */

.cat_container .categories,
.cat_container_home .categories {
    position: relative;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1rem 0 1rem;
    margin: 0 10px -10px;
    z-index: 10;
}


/* Imagen */

.cat_container .categories img {
    max-width: 50px;
    max-height: 50px;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.cat_container_home .categories img {
    max-width: 80px;
    max-height: 80px;
}

.cat_container:hover .categories img {
    opacity: 1;
}

.cat_container .categories img,
.cat_container_home .categories img {
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    cursor: pointer;
}

.cat_container .categories div:hover>img,
.cat_container .categories>.active>div>img,
.cat_container_home .categories div:hover>img,
.cat_container_home .categories>.active>div>img {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}


/* Links */

.cat_container .categories a,
.cat_container_home .categories a {
    text-decoration: none;
}


/* Texto */

.cat_container .categories *,
.cat_container_home .categories * {
    transition: all 0.5s ease-in-out;
}

.cat_container .categories h2 {
    font-size: 0.8rem;
    color: rgb(117, 117, 117);
}

.cat_container_home .categories h2 {
    font-size: 1rem;
    color: rgb(117, 117, 117);
}

.cat_container .categories div:hover>h2,
.cat_container .categories>.active>div>h2,
.cat_container_home .categories div:hover>h2,
.cat_container_home .categories>.active>div>h2 {
    color: rgb(255, 255, 255);
}


/* CONTENEDOR DE PRODUCTOS */

.products_container {
    padding: 10rem 1rem 2rem;
    margin: -10rem auto 2rem auto;
    background: rgb(34, 34, 34);
    background: linear-gradient( 160deg, rgba(34, 34, 34, 0.7) 0%, rgba(56, 56, 56, 0.7) 100%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    min-height: 50vh;
}