/* ITEMCARD  BOTONES*/

.itemCardButtons .itemCardSecBtn {
    background: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: none;
    padding: 2px 8px;
    text-align: center;
    transition: all 0.5s;
  }
  
  .itemCardButtons .itemCardSecBtn:hover {
    background: rgba(255, 255, 255, 0.05);
  }
  
  .itemCardButtons .itemCardSecBtn:disabled,
  .itemCardButtons .itemCardSecBtn[disabled] {
    background: rgba(255, 255, 255, 0);
    color: var(--disabled_buttom);
  }
  
  .itemCardButtons input {
    background: transparent;
    border: none;
    text-align: center;
    transition: all 0.5s;
    width: 50px;
    border-bottom: 1px solid rgb(65, 65, 65);
  }
  
  .itemCardButtons input:focus {
    outline: none;
    border-bottom: 1px solid green;
  }
  
  .itemCardButtons input::selection {
    background: rgb(56, 80, 56);
  }
  
  .itemCardButtons .itemCardMainBtn {
    margin-left: auto;
    padding: 0 10px;
    background: transparent;
    color: var(--blanco_apagado);
    border: none;
    border-bottom: solid 1px transparent;
    transition: all 0.5s;
    
  }
  
  .itemCardButtons .itemCardMainBtn:hover {
    color: white;
    border-bottom: solid 1px var(--green_light_off);
    box-shadow: 0 1px 1px 0 var(--green_light_on);
  }
  
  .itemCardButtons .itemCardMainBtn:disabled,
  .itemCardButtons .itemCardMainBtn[disabled] {
    background: rgba(255, 255, 255, 0);
    color: var(--disabled_buttom)
  }