/* ITEMCARD  BOTONES*/

.itemCardButtons .itemCardSecBtn {
    background: transparent;
    border-radius: 50%;
    border: none;
    padding: 2px 8px;
    text-align: center;
    transition: all 0.5s;
  }
  
  .itemCardButtons .itemCardSecBtn:hover {
    background: var(--white_05)
  }
  
  .itemCardButtons .itemCardSecBtn:disabled,
  .itemCardButtons .itemCardSecBtn[disabled] {
    background: transparent;
    color: var(--disabled);
  }
  
  .itemCardButtons input {
    background: transparent;
    border: none;
    text-align: center;
    transition: all 0.5s;
    width: 50px;
    border-bottom: 1px solid var(--disabled)
  }
  
  .itemCardButtons input:focus {
    outline: none;
    border-bottom: 1px solid var(--primary_on);
  }
  
  .itemCardButtons input::selection {
    background: var(--primary_50)
  }
  
  .itemCardButtons .itemCardMainBtn {
    margin-left: auto;
    padding: 0 10px;
    background: transparent;
    color: var(--text_off);
    border: none;
    border-bottom: solid 1px transparent;
    transition: all 0.5s;
    
  }
  
  .itemCardButtons .itemCardMainBtn:hover {
    color: var(--text_on);
    border-bottom: solid 1px var(--primary_on);
  }
  
  .itemCardButtons .itemCardMainBtn:disabled,
  .itemCardButtons .itemCardMainBtn[disabled] {
    background: transparent;
    color: var(--disabled)
  }